.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.c_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.r_container {
  padding: 10px;
}
